
#change-city DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#change-city H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

#change-city P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

#change-city LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}

#change-city H2 {
	FONT-SIZE: 100%
}

#change-city{width:800px; margin:0 auto;}
#change-city .choosecities {
	BORDER-BOTTOM: #a3d7df 1px solid; BORDER-LEFT: #a3d7df 1px solid; PADDING-BOTTOM: 20px; BACKGROUND: #fff; BORDER-TOP: #a3d7df 1px solid; BORDER-RIGHT: #a3d7df 1px solid; box-shadow: 0 0 1px #d4edf4
}
#change-city .choosecities A:hover {
	TEXT-DECORATION: none
}

#change-city .citieslist H2 {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; MARGIN: 20px 20px 12px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: #f1f1f1; HEIGHT: 32px; COLOR: #666; PADDING-TOP: 0px; border-radius: 0
}

#change-city .citieslist H2:hover {
	BACKGROUND: #00c7c7; COLOR: #fff;
}

#change-city .citieslist H2 SPAN {
	BORDER-BOTTOM: #fff 6px solid; POSITION: absolute; BORDER-LEFT: #fff 6px solid; LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; FLOAT: none; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-TOP: #f1f1f1 6px solid; TOP: 32px; BORDER-RIGHT: #fff 6px solid; LEFT: 20px; 
}


#change-city .citieslist LI {
	BORDER-BOTTOM: #fff 1px solid; BORDER-TOP: #fff 1px solid
}
#change-city .citieslist P {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 30px; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 6px
}
#change-city .citieslist SPAN.label {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 24px; WIDTH: 30px; ZOOM: 1; DISPLAY: inline-block; HEIGHT: 30px; COLOR: #666; VERTICAL-ALIGN: top; BORDER-TOP: #ddd 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ddd 1px solid; border-radius: 0
}
#change-city .citieslist SPAN.label STRONG {
	BORDER-BOTTOM: #f7f7f7 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #f7f7f7 1px solid; WIDTH: 28px; DISPLAY: block; FONT-FAMILY: Tahoma; BACKGROUND: #f1f1f1; HEIGHT: 28px; FONT-SIZE: 16px; BORDER-TOP: #f7f7f7 1px solid; BORDER-RIGHT: #f7f7f7 1px solid; border-radius: 0
}
#change-city .citieslist SPAN {
	WIDTH: 700px; ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: top
}
#change-city .citieslist SPAN I {
	FONT-STYLE: normal; MARGIN: 0px 3px; COLOR: #ccc
}
#change-city .citieslist ol {
	display: none;
}
#change-city .citieslist ol.ABCDE {
	display: inline;
}
#change-city .citieslist li:hover {
	BORDER-BOTTOM-COLOR: #e5e5e5; BORDER-TOP-COLOR: #e5e5e5; BORDER-RIGHT-COLOR: #e5e5e5; BORDER-LEFT-COLOR: #e5e5e5
}
#change-city .citieslist li:hover P {
	BACKGROUND: #f7f7f7
}
#change-city .citieslist li:hover SPAN.label {
	BORDER-BOTTOM-COLOR: #1fb7bb; BORDER-TOP-COLOR: #1fb7bb; BORDER-RIGHT-COLOR: #1fb7bb; BORDER-LEFT-COLOR: #1fb7bb
}
#change-city .citieslist li:hover SPAN.label STRONG {
	BORDER-BOTTOM-COLOR: #00c7c7; BORDER-TOP-COLOR: #00c7c7; BACKGROUND: #00c7c7; COLOR: #fff; BORDER-RIGHT-COLOR: #00c7c7; BORDER-LEFT-COLOR: #00c7c7
}
#change-city .citieslist A {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 20px; MARGIN: 0px 10px; PADDING: 5px 10px;  ZOOM: 1; DISPLAY: inline-block;   border-radius: 0
}
#change-city .citieslist A:hover {
	BACKGROUND: #00c7c7; COLOR: #fff
}
#change-city .citieslist .isonline {
	FONT-WEIGHT: bold
}
#change-city .citieslist .isoffline {
	FONT-WEIGHT: bold
}
#change-city #bdw {
	/*MIN-HEIGHT: 500px*/
}
#change-city .cf {
	ZOOM: 1
}
#change-city .cf:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden; CONTENT: ''
}
#change-city H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}

#change-city  {
	FONT: 14px Tahoma, Helvetica, arial, sans-serif; BACKGROUND: #d6e9ec; COLOR: #000
}
#change-city A {
	COLOR: #399; TEXT-DECORATION: none
}
#change-city A:hover {
	TEXT-DECORATION: underline
}

