

.center {
	width: 1026px; 
	margin: 0 auto;
}


#zhuce {
	width: 100%;
	height: 453px;
	overflow: hidden;
	text-align:center;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

@media screen and (max-width: 1026px) {
	#zhuce {
		width: 1026px;
	}
}

#zhuce .banner ul li a {
	width: 100%;
	height: 453px;
	display: block;
	background: center no-repeat;
}

#zhuce .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
}

#zhuce .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}

#zhuce .dots li.active {
	background: #fff;
	opacity: 1;
}

#zhuce .arrow-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	filter: alpha(opacity=50);
	opacity: .5;
	z-index: 4;
}

#zhuce .arrow-wrap.arrow-left {
	left: 0;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}

#zhuce .arrow-wrap.arrow-right {
	right: 0;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

#zhuce .arrow-wrap:hover,
#zhuce .arrow-wrap:focus {
	color: #fff;
	text-decoration: none;
	filter: alpha(opacity=90);
	outline: 0;
	opacity: .9;
}

#zhuce .unslider-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	font-size: 30px;
}

#xuanwo {
	width: 100%;
	height: 410px;
	overflow: hidden;
	text-align: center;
}

@media screen and (max-width: 1026px) {
	#xuanwo {
		width: 1026px;
	}
}

#xuanwo > div{
	display: block;
	width: 100%;
	height: 100%;
	background: center no-repeat;
}

#zizhu {
	width: 100%;
	height: 694px;
	overflow: hidden;
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1026px) {
	#zizhu {
		width: 1026px;
	}
}

#zizhu .banner ul li div {
	display: block;
	width: 100%;
	height: 694px;
	background: center no-repeat;
}

#zizhu .zizhu-title {
	position: absolute;
	top: 0px;
	left: 50%;
	right: auto;
	width: 396px;
	height: 121px;
	margin-left: -198px;
	z-index: 5;
}

#zizhu .zizhu-switch {
	position: absolute;
	top: 127px;
	left: 50%;
	width: 640px;
	margin-left: -320px;
}

#zizhu .zizhu-switch .circle {
	display: block;
	width: 88px;
	height: 88px;
	border-radius: 44px;
	border: 2px solid #fff;
	background-color: #079fce;
	float: left;
	margin-left: 60px;
	margin-right: 60px;
	font-family: "microsoft yahei", simhei, sans-serif;
	font-size: 20px;
}

#zizhu .zizhu-switch .circle a {
	color: #f1ed12;
}

#zizhu .zizhu-switch .circle a:hover {
	text-decoration: none;
}

#zizhu .zizhu-switch .circle span {
	display: block;
	line-height: 33px;
	margin-top: 11px;
}

#zizhu .zizhu-bottom {
	display: block;
	position: absolute;
	bottom: 96px;
	left: 50%;
	width: 406px;
	margin-left: -203px;
}

#zizhu .zizhu-bottom .capsule {
	float: left;
	height: 32px;
	line-height: 32px;
	width: 110px;
	margin-left: 15px;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	font-family: "microsoft yahei", simhei, sans-serif;
	font-size: 16px;
}

#zizhu .zizhu-bottom .capsule:hover {
	background-color: #079fce;
	color: #fff;
}

#zizhu .zizhu-bottom .capsule a:hover {
	text-decoration: none;
	color: #fff;
}

#tuoguan {
	width: 100%;
	height: 770px;
	overflow: hidden;
	text-align: center;
}

@media screen and (max-width: 1026px) {
	#tuoguan {
		width: 1026px;
	}
}

#tuoguan a{
	display: block;
	width: 100%;
	height: 100%;
	background: center no-repeat;
}


#store {
	width: 100%;
	padding-bottom: 50px;
	overflow: hidden;
	text-align: center;
	background-color: #0ec9c2;
}

@media screen and (max-width: 1026px) {
	#store {
		width: 1026px;
	}
}

#store img#storetitle{
	display: block;
	margin: 0 auto;
	width: 379px;
	height: 131px;
}

#storenav {
	margin: 0 auto;
}

#storenav a {
	display: inline-block;
	margin: 0 25px;
	width: 74px;
	height: 74px;
	text-align: center;
	background-color: #f3e512;
	border: 2px solid #ffffff;
	border-radius: 37px;
	font-family: "microsoft yahei", simhei, sans-serif;
	font-size: 17px;
	color: #2e7289;
}

#storenav a:hover {
	text-decoration: none;
}

#storenav span {
	display: block;
	width: 52px;
	height: 52px;
	margin: 12px auto; 
}

#storecontent {
	width: 1020px;
	margin-top: 20px;
	margin-left:  auto;
	margin-right: auto;
	/*background: red;*/
}

#storecontent img {
	width: 170px;
	height: 170px;
	margin: 15px;
	display: inline-block;
}

#storemore {
	display: block;
	margin: 0 auto;
	width: 72px;
	height: 72px;
	border-radius: 36px;
	background-color: #ffffff;
	font-family: "microsoft yahei", simhei, sans-serif;
	font-size: 17px;
}

#storemore:hover {
	text-decoration: none;
}

#storemore span {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
}

#storemore img {
	width: 25px;
	height: 10px;
	margin: 0 auto;
	padding-top: 2px;
	display: block;
}

#storelink {
	width: 100%;
	height: 72px;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: hidden;
	text-align: center;
	background-color: #d4fffd;
}

@media screen and (max-width: 1026px) {
	#storelink {
		width: 1026px;
	}
}

#storelink img {
	display: block;
	margin: 0 auto;
	width: 974px;
	height: 72px;
}

#xueyuan {
	width: 100%;
	height: 909px;
	overflow: hidden;
	text-align: center;
	background-color: #079fce;
}

@media screen and (max-width: 1026px) {
	#xueyuan {
		width: 1026px;
	}
}

#xueyuan img#zcxy{
	display: block;
	margin: 0 auto;
	width: 493px;
	height: 113px;
}

#xueyuan .row {
	width: 1000px;
	height: 385px;
	margin: 0 auto;
}

#xueyuan #fagui {
	margin-top: 10px;
}

#xueyuan .col {
	width: 262px;
	height: 100%;
	float: left;
	/*background: red;*/
	margin: 0 35px;
}

#xueyuan .cate {
	width: 103px;
	height: 27px;
	display: block;
	margin: 0 auto;
}

#xueyuan .pic {
	width: 240px;
	height: 150px;
	display: block;
	margin: 10px auto;
}

#xueyuan .art {
	color: #fcff00;
	font-family: "microsoft yahei", simhei, sans-serif;
	font-size: 16px;
	display: block;
}

#xueyuan ul.artlist {
	text-align: left;
	line-height: 25px;
	display: block;
	margin: 10px 0 0 30px;
}

#xueyuan ul.artlist li {
	color: #fcff00;
	list-style-type: disc;
	font-size: 14px;
	font-family: "microsoft yahei", simhei, sans-serif;
}

#xueyuan ul.artlist li a {
	color: #ffffff;
}

#xueyuan .learnmore {
	display: block;
	margin: 0 auto;
}

#xueyuan .learnmore > img {
	width: 235px;
	height: 36px;
	margin: 0 auto;

}

#qrcode {
	width: 100%;
	height: 251px;
	overflow: hidden;
	text-align: center;
}

@media screen and (max-width: 1026px) {
	#qrcode {
		width: 1026px;
	}
}

#qrcode > div{
	display: block;
	width: 100%;
	height: 100%;
	background: center no-repeat;
}

#comment {
	margin-bottom: 75px;
	overflow: hidden;
	text-align: center;
}

@media screen and (max-width: 1026px) {
	#comment {
		width: 1026px;
	}
}

#comment img {
	display: block;
	margin: 10px auto;
	padding: 0;
	clear: both;
}

#comment img#usercmt {
	width: 312px;
	height: 144px;
}

#comment img.line {
	width: 906px;
	height: 7px;
}

#comment #imgmore {
	width: 88px;
	height: 88px;
}

#comment .item {
	width: 860px;
	margin: 0px auto;
}

#comment .touxiang {
	width: 60px;
	float: left;
}

#comment .itemmain {
	width: 760px;
	float: left;
	margin: 0 20px;
}

#comment .username {
	float: left;
	height: 20px;
	line-height: 20px;
}

#comment .date {
	float: right;
	height: 20px;
	line-height: 20px;
}

#comment .content {
	clear: both;
	float: left;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#comment form#addcomment {
	width: 800px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	text-align: left;
}

#comment textarea{
	width: 800px;
	height: 180px;
	resize: none;
	display: block;
	margin: 0 auto;
}

#comment a#submit {
	width: 150px;
	height: 30px;
	line-height: 30px;
	display: block;
	float: right;
	margin-top: 12px;
	background: #079fce;
	text-align: center;
}

#comment a#submit:hover {
	text-decoration: none;
}

#comment a#submit span {
	color: #fdfff5;
	font-family: "microsoft yahei", simhei, sans-serif;
	font-size: 14px;
	text-decoration: none;
}

#comment-result{
	display: block;
	margin-top: 18px;
} 

#comment-result label{
	display: none;
}

#footer {
	width: 100%;
	height: 345px;
	overflow: hidden;
	text-align: left;
	background: #f3f5f4;
}

@media screen and (max-width: 1026px) {
	#footer {
		width: 1026px;
	}
}

#footer-main {
}

#footer-main #col {
	display: block;
	float: left;
	margin-top: 50px;
	margin-left: 40px;
}

#footer-main #col > div {
	display: block;
	float: left;
	width: 110px;
	height: 200px;
	/*background: red;*/
	margin: 0 15px;
}

#footer-main #col > div >div {
	margin-bottom: 25px;
	color: #4e4e4e;
	font-size: 18px;
	font-family: "microsoft yahei", simhei, sans-serif;
}

#footer-main ul li {
	display: block;
	margin: 6px 0;
}

#footer-main ul li a {
	color: #838383;
	font-size: 14px;

}

#footer-main #footer-right {
	float: left;
	margin-top: 100px;
}

#footer-link {
	padding-top: 20px;
	font-size: 18px;
	font-family: "microsoft yahei", simhei, sans-serif;
	clear: both;
}

#footer-link div {
	float:left;
	margin-left: 50px;
	margin-right: 10px;
	color: #50bdfb;

}

#footer-link ul li {
	display: inline-block;
	margin: 0 6px;
}

#footer-link ul li a {
	color: #50bdfb;
	font-size: 12px;
	font-family: "microsoft yahei", simhei, sans-serif;
}
