
html { overflow-y: auto; }


#container {
	width: 570px;
	margin: 0 auto;
	font-family: "microsoft yahei", simhei, sans-serif;

}

#icon {
	width: 178px;
	height: 116px;
	margin: 0 auto;
	display: block;
}

#title {
	width: 100%;
	height: 48px;
	line-height: 48px;
	position: relative;
	top: 0;
	left: 0;
}

#title .left {
	position: absolute;
	top: 0;
	left: 0px;
	font-size: 18px;
	color: #14a4d0;
}

#title .right {
	position: absolute;
	top: 0;
	right: 0;
}

#line {
	width: 100%;
	height: 1px;
	background-color: #e8e8e8;
}

#form {
	width: 470px;
	margin: 0 auto;
	padding-top: 50px;
}

#form .row {
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
}

#form .label-90 {
	display: inline-block;
	width: 90px;
}

#form .text {
	width: 238px;
	display: inline-block;
}

#confirm {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
}

#submit {
	width: 335px;
	text-align: center;
	background-color: #58c9f3;
	color: #ffffff;
	font-size: 16px;
}

#form .row a:hover {
	text-decoration: none;
}

.error {
	display: none;
	color: red;
}

#success {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #fff;
	display: none;
}

#success h3 {
	font-size: 20px;
}